.nova {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: cover
}
.n-ok {
  background-image: url("n-ok.svg")
}
.n-dashboard{
  background-image:url("n-dashboard.svg");
}
.n-onlyoffice{
  background-image:url("n-onlyoffice.svg");
}
.n-schedule{
  background-image:url("n-schedule.svg");
}